@{
    Layout = "~/Views/Shared/MasterLayout.cshtml";
}
<html>
<head>
    <title>WELCOME PAGE</title>
</head>
<body>
    <script language="Javascript">
        var Name, Age;
        Name = prompt("Please enter your name: ", " ");
        Age = prompt("Please enter your age: ", " ");
        document.write("Hello" + Name);
        document.write("</br>");
    </script>
</body>
</html>

