@model laptrinhweb.Models.Category

@{
    ViewBag.Title = "Delete";
    Layout = "~/Areas/admin/Views/Shared/_AdminLayout.cshtml";
}

<h2>Xóa danh mục</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @*@Html.DisplayNameFor(model => model.CategoryName)*@
            Tên danh mục
        </dt>
        @* Hiển thị giá trị của Catelogy Name *@
        <dd>
            @Html.DisplayFor(model => model.CategoryName)
        </dd>
    </dl>
    <h3>Bạn có chắc chắn muốn xóa danh mục này không?</h3>
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Xóa" class="btn btn-primary btn-sm" />
            @Html.ActionLink("Quay lại danh sách", "Index", null, new { @class = "btn btn-primary btn-sm" })
        </div>
    }
</div>
